@font-face {
	font-family: 'bbicon'; /* Project id 613819 */
	src: url('../icons/bbIcon/iconfont.woff2?t=1620912520115') format('woff2'),
		url('../icons/bbIcon/iconfont.woff?t=1620912520115') format('woff'),
		url('../icons/bbIcon/iconfont.ttf?t=1620912520115') format('truetype');
}

.bbicon {
	font-family: 'bbicon' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bbicon-renzhengchenggong1:before {
	content: '\e777';
}

.bbicon-shangchuanwenjian:before {
	content: '\e773';
}

.bbicon-renzhengchenggong:before {
	content: '\e774';
}

.bbicon-xiazaiqitawenjian:before {
	content: '\e775';
}

.bbicon-xiazaixuliehaowenjian:before {
	content: '\e776';
}

.bbicon-renzheng_on:before {
	content: '\e76b';
}

.bbicon-jihuo_on:before {
	content: '\e76c';
}

.bbicon-jihuo_off:before {
	content: '\e76d';
}

.bbicon-xuliehao_off:before {
	content: '\e76e';
}

.bbicon-kehu_on:before {
	content: '\e76f';
}

.bbicon-kehu_off:before {
	content: '\e770';
}

.bbicon-renzheng_off:before {
	content: '\e771';
}

.bbicon-xuliehao_on:before {
	content: '\e772';
}

.bbicon-jujueshouquan:before {
	content: '\e76a';
}

.bbicon-shouhui:before {
	content: '\e767';
}

.bbicon-chexiao:before {
	content: '\e768';
}

.bbicon-dongjie:before {
	content: '\e769';
}

.bbicon-xunijiyongliang:before {
	content: '\e765';
}

.bbicon-ebs:before {
	content: '\e766';
}

.bbicon-open:before {
	content: '\e763';
}

.bbicon-closed:before {
	content: '\e764';
}

.bbicon-right:before {
	content: '\e760';
}

.bbicon-wrong:before {
	content: '\e761';
}

.bbicon-debug:before {
	content: '\e762';
}

.bbicon-fabu:before {
	content: '\e65d';
}

.bbicon-xianshi:before {
	content: '\e75c';
}

.bbicon-jifen:before {
	content: '\e75d';
}

.bbicon-yincang1:before {
	content: '\e75e';
}

.bbicon-huaban:before {
	content: '\e75f';
}

.bbicon-shenqingshouquan:before {
	content: '\e756';
}

.bbicon-kaitongjigouzhanghao:before {
	content: '\e753';
}

.bbicon-fabushujuji:before {
	content: '\e754';
}

.bbicon-bianzu5:before {
	content: '\e755';
}

.bbicon-tigongsuanli:before {
	content: '\e757';
}

.bbicon-tuihui:before {
	content: '\e758';
}

.bbicon-shujujicunchu:before {
	content: '\e759';
}

.bbicon-xiangmucunchu:before {
	content: '\e75a';
}

.bbicon-shouquan:before {
	content: '\e75b';
}

.bbicon-dinggoufuwu-b:before {
	content: '\e751';
}

.bbicon-yunyingzhanghu-b:before {
	content: '\e752';
}

.bbicon-dinggoufuwu-g:before {
	content: '\e735';
}

.bbicon-fuwushenhe-b:before {
	content: '\e736';
}

.bbicon-lianmeng-b:before {
	content: '\e737';
}

.bbicon-fuwushenhe-g:before {
	content: '\e738';
}

.bbicon-lianmeng-g:before {
	content: '\e739';
}

.bbicon-neirong-g:before {
	content: '\e73a';
}

.bbicon-shilileixing_g:before {
	content: '\e73b';
}

.bbicon-neirong-b:before {
	content: '\e73c';
}

.bbicon-shilileixing_b:before {
	content: '\e73d';
}

.bbicon-yanshiyuyue-b:before {
	content: '\e73e';
}

.bbicon-yanshiyuyue-g:before {
	content: '\e73f';
}

.bbicon-yunyingzhanghu-g:before {
	content: '\e740';
}

.bbicon-company-b:before {
	content: '\e741';
}

.bbicon-containerregistry-g:before {
	content: '\e742';
}

.bbicon-containerregistry-b:before {
	content: '\e743';
}

.bbicon-company-g:before {
	content: '\e744';
}

.bbicon-zhangdan-b:before {
	content: '\e745';
}

.bbicon-dashboard-b:before {
	content: '\e746';
}

.bbicon-dashboard-g:before {
	content: '\e747';
}

.bbicon-metadata-g:before {
	content: '\e748';
}

.bbicon-metadata-b:before {
	content: '\e749';
}

.bbicon-dataset-b:before {
	content: '\e74a';
}

.bbicon-zhangdan-g:before {
	content: '\e74b';
}

.bbicon-tickets-g:before {
	content: '\e74c';
}

.bbicon-tickets-b:before {
	content: '\e74d';
}

.bbicon-dataset-g:before {
	content: '\e74e';
}

.bbicon-userlist-b:before {
	content: '\e74f';
}

.bbicon-userlist-g:before {
	content: '\e750';
}

.bbicon-competition-off:before {
	content: '\e733';
}

.bbicon-competition-on:before {
	content: '\e734';
}

.bbicon-my_on:before {
	content: '\e72a';
}

.bbicon-my_off:before {
	content: '\e72b';
}

.bbicon-app_store_on:before {
	content: '\e72c';
}

.bbicon-project_on:before {
	content: '\e72d';
}

.bbicon-app_store_off:before {
	content: '\e72e';
}

.bbicon-project_off:before {
	content: '\e72f';
}

.bbicon-Data_services_off:before {
	content: '\e730';
}

.bbicon-Dashboard_on:before {
	content: '\e731';
}

.bbicon-Data_services_on:before {
	content: '\e732';
}

.bbicon-Dashboard_off:before {
	content: '\e729';
}

.bbicon-jxck:before {
	content: '\e722';
}

.bbicon-jxck_t:before {
	content: '\e723';
}

.bbicon-right1:before {
	content: '\e655';
}

.bbicon-right2:before {
	content: '\e663';
}

.bbicon-edit:before {
	content: '\e69a';
}

.bbicon-copy1:before {
	content: '\e6d7';
}

.bbicon-move:before {
	content: '\e6d9';
}

.bbicon-bianji1:before {
	content: '\e6da';
}

.bbicon-org1:before {
	content: '\e6dc';
}

.bbicon-close1:before {
	content: '\e6dd';
}

.bbicon-add_dataset:before {
	content: '\e6df';
}

.bbicon-ic_Dataset:before {
	content: '\e6e0';
}

.bbicon-ic_member1:before {
	content: '\e6e1';
}

.bbicon-jiesuo:before {
	content: '\e6e9';
}

.bbicon-file1:before {
	content: '\e6eb';
}

.bbicon-folder-default:before {
	content: '\e6ec';
}

.bbicon-dataset-default:before {
	content: '\e6ed';
}

.bbicon-workspace:before {
	content: '\e6ee';
}

.bbicon-dataset:before {
	content: '\e6f2';
}

.bbicon-ic_doc:before {
	content: '\e6f3';
}

.bbicon-ic_private:before {
	content: '\e6f4';
}

.bbicon-ic_org:before {
	content: '\e6f5';
}

.bbicon-ic_public:before {
	content: '\e6f6';
}

.bbicon-h_contact:before {
	content: '\e6fa';
}

.bbicon-h_user1:before {
	content: '\e6fd';
}

.bbicon-h_org1:before {
	content: '\e6fe';
}

.bbicon-h_pass:before {
	content: '\e6ff';
}

.bbicon-h_logout:before {
	content: '\e701';
}

.bbicon-zhongxinshenqing:before {
	content: '\e702';
}

.bbicon-qingsao:before {
	content: '\e706';
}

.bbicon-duankai:before {
	content: '\e70a';
}

.bbicon-tuoyuanxing:before {
	content: '\e70b';
}

.bbicon-gantanhao:before {
	content: '\e70c';
}

.bbicon-shuaxin-3:before {
	content: '\e716';
}

.bbicon-qingchu:before {
	content: '\e717';
}

.bbicon-triangle-down:before {
	content: '\e693';
}

.bbicon-menu:before {
	content: '\e697';
}

.bbicon-eye:before {
	content: '\e698';
}

.bbicon-hide:before {
	content: '\e69c';
}

.bbicon-edit2:before {
	content: '\e69f';
}

.bbicon-approve2:before {
	content: '\e6cf';
}

.bbicon-delete2:before {
	content: '\e6d0';
}

.bbicon-sousuofangdajing1:before {
	content: '\e6d1';
}

.bbicon-chakan1:before {
	content: '\e6d2';
}

.bbicon-tianjia1:before {
	content: '\e6d5';
}

.bbicon-ic_vc1:before {
	content: '\e6e8';
}

.bbicon-re:before {
	content: '\e6f1';
}

.bbicon-ic_y:before {
	content: '\e6f8';
}

.bbicon-ic_z:before {
	content: '\e6f9';
}

.bbicon-ic_adress:before {
	content: '\e6fb';
}

.bbicon-ic_cohort:before {
	content: '\e6fc';
}

.bbicon-ic_piname:before {
	content: '\e700';
}

.bbicon-ic_phone:before {
	content: '\e707';
}

.bbicon-tingzhi1:before {
	content: '\e708';
}

.bbicon-tasks:before {
	content: '\e71d';
}

.bbicon-no_preview:before {
	content: '\e71c';
}

.bbicon-Daas1:before {
	content: '\e6f0';
}

.bbicon-Daas:before {
	content: '\e6ef';
}

.bbicon-sousuo:before {
	content: '\e6e2';
}

.bbicon-jinyong:before {
	content: '\e6e3';
}

.bbicon-copy:before {
	content: '\e6e4';
}

.bbicon-qiyong:before {
	content: '\e6e5';
}

.bbicon-bianji:before {
	content: '\e6e6';
}

.bbicon-delete1:before {
	content: '\e6e7';
}

.bbicon-ic_email:before {
	content: '\e6d8';
}

.bbicon-json:before {
	content: '\e6d3';
}

.bbicon-xiaoshu:before {
	content: '\e6d4';
}

.bbicon-ic_vc:before {
	content: '\e6ce';
}

.bbicon-case1:before {
	content: '\e6c1';
}

.bbicon-files2:before {
	content: '\e6c2';
}

.bbicon-h_org:before {
	content: '\e6c4';
}

.bbicon-h_pub:before {
	content: '\e6c5';
}

.bbicon-log_user:before {
	content: '\e6c6';
}

.bbicon-log_clear:before {
	content: '\e6c7';
}

.bbicon-log_yincang:before {
	content: '\e6c8';
}

.bbicon-log_pass:before {
	content: '\e6ca';
}

.bbicon-app_4:before {
	content: '\e6cb';
}

.bbicon-log_xianshi:before {
	content: '\e6cc';
}

.bbicon-deve_rig:before {
	content: '\e6cd';
}

.bbicon-sousuofangdajing:before {
	content: '\e6a1';
}

.bbicon-yincang:before {
	content: '\e6a2';
}

.bbicon-ann_details:before {
	content: '\e6a3';
}

.bbicon-app_:before {
	content: '\e6a4';
}

.bbicon-app_1:before {
	content: '\e6b0';
}

.bbicon-app_2:before {
	content: '\e6b1';
}

.bbicon-deve_done:before {
	content: '\e6b2';
}

.bbicon-app_3:before {
	content: '\e6b3';
}

.bbicon-datasets2:before {
	content: '\e6b5';
}

.bbicon-h_more:before {
	content: '\e6bf';
}

.bbicon-h_user:before {
	content: '\e6c0';
}

.bbicon-datasets1:before {
	content: '\e694';
}

.bbicon-files1:before {
	content: '\e695';
}

.bbicon-case:before {
	content: '\e696';
}

.bbicon-unknown:before {
	content: '\e6bd';
}

.bbicon-jiantou:before {
	content: '\e63e';
}

.bbicon-shanchu:before {
	content: '\e6b9';
}

.bbicon-yizanting:before {
	content: '\e6ba';
}

.bbicon-yunhang:before {
	content: '\e6bb';
}

.bbicon-zhongxinyunhang:before {
	content: '\e6bc';
}

.bbicon-tingzhi:before {
	content: '\e6b6';
}

.bbicon-wancheng:before {
	content: '\e6b7';
}

.bbicon-zanting:before {
	content: '\e6b8';
}

.bbicon-linshishujubiao:before {
	content: '\e6b4';
}

.bbicon-menzhenrenci1:before {
	content: '\e63b';
}

.bbicon-zhuyuanrenci2:before {
	content: '\e63c';
}

.bbicon-xiangguanrenshu1:before {
	content: '\e63d';
}

.bbicon-ic_delete:before {
	content: '\e63a';
}

.bbicon-yaoqingchengyuan:before {
	content: '\e6af';
}

.bbicon-gengduo:before {
	content: '\e6ae';
}

.bbicon-shenqingzhong:before {
	content: '\e6ac';
}

.bbicon-yishouquan:before {
	content: '\e6ad';
}

.bbicon-folder1:before {
	content: '\e6ab';
}

.bbicon-riqi:before {
	content: '\e6a5';
}

.bbicon-fujian:before {
	content: '\e6a6';
}

.bbicon-xiangmuguanli:before {
	content: '\e6a7';
}

.bbicon-Dataset:before {
	content: '\e6a8';
}

.bbicon-File_1:before {
	content: '\e6a9';
}

.bbicon-tianjia:before {
	content: '\e6aa';
}

.bbicon-menzhenrenci:before {
	content: '\e69d';
}

.bbicon-zhuyuanrenci:before {
	content: '\e69e';
}

.bbicon-XDP:before {
	content: '\e68c';
}

.bbicon-chakan:before {
	content: '\e682';
}

.bbicon-xiangguanrenci:before {
	content: '\e68b';
}

.bbicon-xiangguanrenshu:before {
	content: '\e67c';
}

.bbicon-xiangguanshujuji:before {
	content: '\e67d';
}

.bbicon-zongjilushu:before {
	content: '\e67e';
}

.bbicon-fulljoin:before {
	content: '\e670';
}

.bbicon-innerjoin:before {
	content: '\e671';
}

.bbicon-outerjoin:before {
	content: '\e672';
}

.bbicon-rightjoin:before {
	content: '\e673';
}

.bbicon-notjoin:before {
	content: '\e674';
}

.bbicon-data-services:before {
	content: '\e66e';
}

.bbicon-my:before {
	content: '\e66f';
}

.bbicon-verified:before {
	content: '\e666';
}

.bbicon-verifying:before {
	content: '\e667';
}

.bbicon-notpass:before {
	content: '\e668';
}

.bbicon-icon1:before {
	content: '\e662';
}

.bbicon-icon:before {
	content: '\e661';
}

.bbicon-performance:before {
	content: '\e634';
}

.bbicon-search2:before {
	content: '\e635';
}

.bbicon-dashboard:before {
	content: '\e636';
}

.bbicon-bar-chart:before {
	content: '\e637';
}

.bbicon-alarm:before {
	content: '\e638';
}

.bbicon-setting:before {
	content: '\e639';
}

.bbicon-user-edit:before {
	content: '\e633';
}

.bbicon-line-chart:before {
	content: '\e630';
}

.bbicon-org2:before {
	content: '\e631';
}

.bbicon-setting2:before {
	content: '\e632';
}

.bbicon-field-time:before {
	content: '\e62f';
}

.bbicon-field-bool:before {
	content: '\e62b';
}

.bbicon-field-text:before {
	content: '\e62c';
}

.bbicon-field-num:before {
	content: '\e62d';
}

.bbicon-field-date:before {
	content: '\e62e';
}

.bbicon-chart:before {
	content: '\e62a';
}

.bbicon-files:before {
	content: '\e629';
}

.bbicon-warn:before {
	content: '\e627';
}

.bbicon-warn-f:before {
	content: '\e628';
}

.bbicon-dashboard-edit:before {
	content: '\e626';
}

.bbicon-pq:before {
	content: '\e624';
}

.bbicon-pq-f:before {
	content: '\e625';
}

.bbicon-waiting:before {
	content: '\e623';
}

.bbicon-fail-f:before {
	content: '\e622';
}

.bbicon-pause:before {
	content: '\e61e';
}

.bbicon-success:before {
	content: '\e61f';
}

.bbicon-fail:before {
	content: '\e620';
}

.bbicon-success-f:before {
	content: '\e621';
}

.bbicon-delete:before {
	content: '\e61d';
}

.bbicon-nodata:before {
	content: '\e600';
}

.bbicon-org:before {
	content: '\e61c';
}

.bbicon-csv2:before {
	content: '\e61b';
}

.bbicon-lock2:before {
	content: '\e618';
}

.bbicon-user:before {
	content: '\e619';
}

.bbicon-verify:before {
	content: '\e61a';
}

.bbicon-pound:before {
	content: '\e606';
}

.bbicon-upload:before {
	content: '\e607';
}

.bbicon-folder:before {
	content: '\e608';
}

.bbicon-folder-add:before {
	content: '\e609';
}

.bbicon-csv:before {
	content: '\e60a';
}

.bbicon-date:before {
	content: '\e612';
}

.bbicon-file:before {
	content: '\e615';
}

.bbicon-folder-open:before {
	content: '\e616';
}

.bbicon-text:before {
	content: '\e617';
}

.bbicon-lock:before {
	content: '\e602';
}

.bbicon-earth:before {
	content: '\e603';
}

.bbicon-bell:before {
	content: '\e613';
}

.bbicon-chat:before {
	content: '\e614';
}

.bbicon-datasets:before {
	content: '\e60b';
}

.bbicon-apps:before {
	content: '\e60c';
}

.bbicon-menu-unfold:before {
	content: '\e60d';
}

.bbicon-menu-fold:before {
	content: '\e60e';
}

.bbicon-home:before {
	content: '\e60f';
}

.bbicon-market:before {
	content: '\e610';
}

.bbicon-search:before {
	content: '\e611';
}
